/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta: header section article nav */
/* header {
  background: pink;
  color: red;
} */

/* selector descendente: elemento hijo de un elemento */
/* body header div nav ol li a {

} */

/* selector de id o selector de clase */
/* selector de clase con punto(.) */
/* .link {

} */
/* selector id (debe ser unico) */
/* #portafolio {

} */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}
/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
figure {
  margin: 0;
}
.menu {
  height: inherit;
}
ol, ul {
  margin: 0;
  padding: 0;
  /* lista no tenga numero: */
  list-style: none;
}
.header ol {
  display: flex;
  /* hereda el alto de header (padre)*/
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a{
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.hero {
  height: 300px;
  background-image: url('../images/hero.jpg');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  /* background-position: right; OTRA FORMA*/
  background-position-x: right;
  background-color: #1b2127;
  display: flex;
  align-items: center;
}
h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
  /* margin: top rigaht bottom left; */
  /* margin: 100px 150px 70px 30px; */
  margin: 0;
}
h1 strong {
  color: #026fff;
}
.portfolio {
  background: #fafafa;
  /* background: red; */
  padding: 20px;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  /* negrita a la fuente: */
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.project {
  /* asignar color a cada lado del borde
  border-top: 10px solid red;
  border-right: 10px solid green;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* color: blue; */
  /* detallar color por partes border: tamaño tipo estilo
  border-top-color: red;
  border-top-width: 15px;
  border-top-style: solid; */
  /* FORMA SIMPLIFLICADA: */
  border: 1px solid gray;
  /* Forma resumida */
  border-radius: 10px;
  /* Forma explicita:
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  /* margin collapsing: el de mayor absorve al menor */
  /* margin: 10px; */
  margin-bottom: 15px;
  /* margin-right
  margin-left
  margin-top */
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-details {
  width: 500px;
  /* height: 200px; */
}
.project-title{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.project-course, .project-date, .project-url{
  margin: 10px 0;
}
/* .project-date{
  margin: 10px 0;
} */
.project strong{
  font-family: 'Fjalla One', sans-serif;
}
.project-description{
  font-size: 20px;
}
.project-imageContainer {
  width: 500px;
  /* height: 200px; */
}
.event-list-title{
  margin-left: 10px;
}
.event-list {
  display: flex;
}
.event{
  /* border: 1px solid red; */
  margin: 10px;
  width: 480px;
  border-radius: 10px;
  /* si el elemento se desborda, se oculta */
  overflow: hidden;
  /* siempre ocupa el tamaño que se designa */
  flex-shrink: 0;
  background: #f4fbff;
}
.event img{
  width: 480px;
  height: 200px;
  /* cambiar proporcion y quepa*/
  object-fit: cover;
}
.event-detail{
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  /* alineacion de texto */
  text-align: center;
}
.event-description{
  text-align: left;
}
.event-url{
  color: #056fff;
  border: 1px solid blue;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.contact{
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-email h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
.form-email input{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}
.form-email button{
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}
.social{
  /* border: 1px solid red; */
}
.social-link{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  /* border: 1px solid white; */
  display: inline-block;
  background-size: 50px 50px;
}
.social-link.twitter {
  /* svg:scalabor vector grafic */
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagran {
  background-image: url('../images/instagram.svg');
}
/* teoria de display flexbox */
.flexbox {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
}
.box {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid red;
  flex-shrink: 0;
}
/* fin - teoria flexbox */
.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer img {
  /* para imagenes dentro de un texto: */
  vertical-align: middle;
}
.footer a {
  color: white;
}